<a href="https://colab.research.google.com/github/Raghu0715/Practice-Programs/blob/main/Practice_programs_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parlindrom

OOPS COncept

In [ ]:
"""1. Classes and Objects
Class: A template to create objects. It defines what kind of data (attributes) and actions (methods) an object will have.
Object: An instance of a class. Think of it as a specific example based on the class template"""
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def show_details(self):
        return f"Car: {self.brand} {self.model}"

my_car = Car("Toyota", "Camry")
print(my_car.show_details())

Car: Toyota Camry

In [ ]:
""" Encapsulation
Encapsulation groups related data and actions into a single unit, the class.
It also hides details within the class that should not be directly accessible, like a private bank balance in an account."""
class Account:
    def __init__(self, balance):
        self.__balance = balance  # Hidden (private) variable

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

my_account = Account(1000)
my_account.deposit(500)
print(my_account.get_balance())  # Output: 1500

1500

In [ ]:
"""Inheritance
Inheritance lets one class share the features of another, reducing code repetition.
A child class can inherit the properties and methods of a parent class and also add its own unique features."""
class Vehicle:
    def __init__(self, name):
        self.name = name

class Car(Vehicle):  # Car inherits from Vehicle
    def __init__(self, name, brand):
        super().__init__(name)
        self.brand = brand

    def car_info(self):
        return f"{self.name} made by {self.brand}"

my_car = Car("Sedan", "Toyota")
print(my_car.car_info())

In [ ]:
""" Abstraction
Abstraction focuses on showing only essential features while hiding complex details.
In Python, we use abstract classes to define methods that must be used in any class that inherits from them."""
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

rectangle = Rectangle(5, 10)
print(rectangle.area())  # Output: 50

In [ ]:
# Write a Python program to generate a random number.
import random
print("Random number:", random.randint(1,100))

Random number: 58

In [ ]:
# Write a Python program to convert kilometers to miles.
 kilometers = float(input("Enter distance in kilometers: "))
 conversion_factor = 0.621371
 miles = kilometers * conversion_factorS
 print(f"{kilometers} kilometers is equal to {miles} miles")

In [ ]:
 #Write a Python program to solve quadratic equation
a=float(input("Enter a:"))
b=float(input("Enter b:"))
c=float(input("Enter c:"))
discremenent=b**2-4*a*c
print(discremenent)

Enter a:1
Enter b:4
Enter c:8
-16.0

In [ ]:
import calendar
year=int(input("enter year: "))
month=int(input("ENter month: "))
cal=calendar.month(year, month)
print(cal)

enter year: 2024
ENter month: 10
    October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
# Write a Python program to swap two variables without temp variable.
a=5
b=10
print("before swapping:", a, b)
a,b=b,a
print("After Swapping:", a, b)

"""# Swapping the values
temp = a  # Store the value of 'a' in 'temp'
a = b     # Assign the value of 'b' to 'a'
b = temp  # Assign the value stored in 'temp' to 'b'"""

before swapping: 5 10
After Swapping: 10 5

"# Swapping the values\ntemp = a  # Store the value of 'a' in 'temp'\na = b     # Assign the value of 'b' to 'a'\nb = temp  # Assign the value stored in 'temp' to 'b'"

In [ ]:
# Write a Python Program to Check Prime Number.
num = int(input("Enter the number: "))
if num == 1:
    print(f"{num} is not a prime number")
elif num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(f"{num} is not a prime number")
            break
    else:
        print(f"{num} is a prime number")

Enter the number: 5
5 is a prime number

In [ ]:
# Write a Python Program to Print all Prime Numbers in an Interval of 1-10.
lower=1
upper=10
for num in range(lower, upper+1):
  if num > 1:
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(f"{num} is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number

In [ ]:
#Write a Python Program to Check Leap Year.
year=int(input("Enter the year:"))
if ((year % 400==0) or (year%4==0 and year%100!=0)):
  print(f"{year} is leap year")
else:
  print(f"{year} is not a leap year")

Enter the year:2000
2000 is leap year

In [ ]:
# Write a Python Program to Find the Factorial of a Number.
num=int(input("Enter the number:"))
fact=1
for i in range(1,num+1):
  fact=fact*i
print(f"the factorail of {num} is {fact}")

Enter the number:5
the factorail of 5 is 120

In [ ]:
# Write a Python Program to Display the multiplication Table.
num=int(input("Enter the number:"))
for i in range(1,11):
  print(num, "X", i, "=", num*i)

Enter the number:1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

In [ ]:
#Python program to get the Fibonacci series between 0 to 50.

n= int(input("enter the number:-"))
first_number = 0
second_number = 1
print(first_number)
for i in range(0,n+1):
  new_number=first_number+second_number
  first_number=second_number
  second_number=new_number
  print(new_number)

enter the number:-5
0
1
2
3
5
8
13

In [ ]:
num = int(input("enter the number:"))
print(num%10)
print(num//10)

enter the number:1458765
5
145876

In [ ]:
#Write a Python Program to Check Armstrong Number
num = int(input("enter the number:"))
sum=0
temp=num
num_of_digits = len(str(num))
while temp>0:
  digit=temp%10
  sum=sum+digit**num_of_digits
  temp=temp//10
if num==sum:
  print(f"{num} is armstrong")
else:
  print(f"{num} is not a armstrong number")

enter the number:153
153 is armstrong

In [ ]:
#Write a Python Program to Find Armstrong Number in an Interval.
lower = int(input("Enter the lower limit: "))
upper = int(input("Enter the upper limit: "))
for num in range(lower, upper+1):
  sum=0
  temp=num
  no_of_dig=len(str(num))
  while temp>0:
    digit=temp % 10
    sum=sum+digit ** no_of_dig
    temp=temp//10
  if num==sum:
    print(f"{num} is armstrong")

Enter the lower limit: 10
Enter the upper limit: 1000
153 is armstrong
370 is armstrong
371 is armstrong
407 is armstrong

In [ ]:
#reverse a number
"""num = int(input("enter the string:"))
if num[:: -1] == num:
  print("parlindrome")
else:
  print("not a parlindrom")"""

num = input("Enter the number: ")  # No need to convert input to int for reversing
if num == num[::-1]:  # Check if the reversed string is equal to the original string
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the number: mki
ikm

In [ ]:
# Write a Python Program to Find the Sum of Natural Numbers.
numb=int(input("Enter the number: "))
sum=0
for i in range(1,numb+1):
  sum=sum+i
print("the sum of the natural numbers is:", sum)

Enter the number: 10
the sum of the natural numbers is: 55

In [ ]:
#Python Program to find the L.C.M. of two input number
def compute_lcm(x,y):
  if x>y:
    greater=x
  else:
    greater=y
  while(True):
    if((greater % x==0) and (greater % y==0)):
      lcm=greater
      break
      greater+=1
  return lcm
num1=int(input("ENter the number:"))
num2=int(input("ENter the number:"))
lcm = compute_lcm(num1, num2)
print(f"The L.C.M. of {num1} and {num2} is {lcm}")

ENter the number:5
ENter the number:10
The L.C.M. of 5 and 10 is 10

In [ ]:
# Python program to find H.C.F of two numbers
def compute_hcf(x,y):
  if x>y:
    smaller=x
  else:
    smaller=y
  for i in range(1, smaller+1):
    if((x % i ==0) and(y % i==0)):
      hcf=i
  return hcf
num1=int(input("ENter the number:"))
num2=int(input("ENter the number:"))
hcf=compute_hcf(num1,num2)
print(hcf)

ENter the number:5
ENter the number:10
5

In [ ]:
#How can we manually convert a decimal number to binary, octal and hexadecimal?
dec_num = int(input('Enter a decimal number: '))
print(bin(dec_num), "in binary")
print(oct(dec_num), "in octal")
print(hex(dec_num), "in hexadecimal")

Enter a decimal number: 27
0b11011 in binary
0o33 in octal
0x1b in hexadecimal

In [ ]:
## Python program to display the Fibonacci sequence

def recfib(n):
  if n<=1:
    return n
  else:
    return (recfib(n-1)+recfib(n-2))
nterms=int(input("enter the no of terms:"))
if(nterms<=0):
  print("enter the positive number")
else:
  print("fibinacci series:")
  for i in range(nterms):
    print(recfib(i))

enter the no of terms:10
fibinacci series:
0
1
1
2
3
5
8
13
21
34

In [ ]:
 # Factorial of a number using recursion
def rec_fact(n):
  if n==1:
    return n
  else:
    return n*rec_fact(n-1)
num=int(input("enter the number:"))
if num==0:
  print("The factorial of zero is 1")
else:
  print("the factorail of", num, "is", rec_fact(num))

enter the number:5
the factorail of 5 is 120

In [ ]:
# Write a Python Program for cube sum of first n natural numbers
num=int(input("Enter the numbers:"))
for i in range(num):
  print(i**3)

Enter the numbers:10
0
1
8
27
64
125
216
343
512
729

In [ ]:
# Write a Python Program To Find ASCII value of a character.
char=str(input("enter the charcater:"))
print("The ASCII value of :"+char+" is", ord(char))

In [ ]:
 # Finding Sum of Array
arr = [1,2,3]
ans = sum(arr)
print('Sum of the array is ', ans)

Sum of the array is  6

## Python Program to Check if a Number is Positive, Negative or 0

In [ ]:
a = int(input("enter the number"))
if a < 0:
  print("negative")
elif a >0:
  print("positive")
else:
  if a==0:
    print("Zero")

enter the number0
Zero

# Python Program to Check if a Number is Odd or Even

In [ ]:
num = int(input("enter the number"))
if num % 2 == 0:
  print("even")
else:
  print("odd")

enter the number22
even

# Python Program to Check Leap Year

In [ ]:
year = int(input("enter the year"))
if year % 4 ==0:
  print("leap year")
else:
  print("not a leap year")

enter the year2001
not a leap year

# Python Program to Find the Largest Among Three Numbers

In [ ]:
num1 = int(input("enter the number1:"))
num2 = int(input("enter the number2:"))
num3 = int(input("enter the number3:"))

if num1 > num2 and num1 > num3:
  print(f"{num1} is greater")
elif num2> num3 and num2 >num1:
  print(f"{num2} is greater")
else:
  print(f"{num3} is greater")

enter the number1:33
enter the number2:44
enter the number3:55
55 is greater

# Python Program to Check Prime Number

In [ ]:
num = int(input("enter the number:"))
for i in range(2,num):
  if num%i==0:
    print(f"{num} is not a prime number")
    break
  else:
    print(f"{num} is a prime number")

enter the number:88
88 is not a prime number

# Python Program to Print all Prime Numbers in an Interval

In [ ]:
a = 10
b = 22
for num in range(a,b+1):
  if num>1:
    for i in range(2,num):
      if num % i == 0:
        break
    else:
      print(num)

11
13
17
19

# Python Program to Find the Factorial of a Number

In [ ]:
num = int(input("enter the number:"))
num1 = 1
for i in range (1,num+1):
  num1 = num1*i
print(num1)

enter the number:6
720

# Python Program to Display the multiplication Table

In [ ]:
num = int(input("Enter the number:"))
#b = 1
for i in range (1,11):
  print(num,"X", i, "=", num*i)

Enter the number:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
age = int(input("enter the age:"))
if age < 3:
  print("you are children")
elif age >=3 or age <=6:
  print("you are pre-primary")
elif age == 11:
  print("you are 6th class")
elif age == 12:
  print("you are 7th class")
elif age == 13:
  print("you are 8th class")
elif age == 14:
  print("you are 9th class")
elif age == 15:
  print("you are 10th class")
else:
  print("ypu are graduate")

enter the age:6
you are pre-primary

In [ ]:
age = int(input("enter the age:"))
bar = input("enter the drink:")
if age < 18:
  print("you are not allowed to bar")
elif age>18 and (bar=="beer" or bar=="wine" or bar=="wiskey"or bar=="rum"or bar=="thumsup"):
  print(f"you are allowed to drink {bar}")
else:
  print("you are allowed to drink")

not alloed
enter the drink:thumsup
you are not allowed to bar

write a program that name starts with "b" and ends with "u".

In [ ]:
name = input("enter the name:")
if name.startswith('b') and name.endswith("u"):
  print("yes")

else:
   print("no")

enter the name:balraju
yes

In [ ]:
a = int(input())
if a % 2 == 0:
  print("even")
else:
  print("odd")

5
odd

finding the minimum and maximum of a numbers.

In [ ]:
a= 80
b = 900
c = 20
d=90
print(min(a,b,c,d))
print(max(a,b,c,d))

20
900

2
prime

swaping of two variables

In [ ]:
a= 20
b= 30
a,b=b,a
print(a)

30

square root of a given number

In [ ]:
a = int(input())
b= a*0.5
print(b)

5
2.5

python program to check the number is amstrng number

In [ ]:
num = int(input())
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit **3
  temp //= 10
if num== sum:
  print("amstrong")
else:
  print("not an amstrong")

407
amstrong

Python Program to Calculate the Area of a Triangle

In [ ]:
a = int(input())
b = int(input())
c= int(input())
s=(a+b+c)/2
area= (s*(s-a)*(s-b)*(s-c))**0.5

print(round(area,2))

4
5
6
9.92

In [ ]:
a="Hello"
b= "world!"
print(a+", "+b)

Hello, world!

In [ ]:
print("Hello, world!")

Hello, world!
Hello, world!

In [ ]:
a = int(input())
b=[]
for i in range(0,n):
  ele= int(input())
  b.append(ele)
avg = sum(b)/a
print(avg)

3

NameError: name 'n' is not defined

swap two numbers without using temporary

In [ ]:
a = 20
b = 30
a,b = b,a
print(a)

30

In [ ]:
a= 1234
if char(a[::-1]):
  print(a)

NameError: name 'char' is not defined

python program to reverse a given number

write a program to print the reverse of a given number

In [ ]:
n=int(input())
rev = 0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("reversenof the number:", rev)

765443
reversenof the number: 344567

In [ ]:

n= int(input())
for i in range(0,n+1):
  if i%2==0:
    print(i)

10
0
2
4
6
8
10

In [ ]:
"""Example 1:Print the first 10 natural numbers using for loop.
Example 2: Python program to print all the even numbers within the given range.
Example 3: Python program to calculate the sum of all numbers from 1 to a given number.
Example 4: Python program to calculate the sum of all the odd numbers within the given range.
Example 5: Python program to print a multiplication table of a given number
Example 6: Python program to display numbers from a list using a for loop.
Example 7: Python program to count the total number of digits in a number.
Example 8: Python program to check if the given string is a palindrome.
Example 9: Python program that accepts a word from the user and reverses it.
Example 10: Python program to check if a given number is an Armstrong number
Example 11: Python program to count the number of even and odd numbers from a series of numbers.
Example 12: Python program to display all numbers within a range except the prime numbers.
Example 13: Python program to get the Fibonacci series between 0 to 50.
Example 14: Python program to find the factorial of a given number.
Example 15: Python program that accepts a string and calculates the number of digits and letters.
Example 16: Write a Python program that iterates the integers from 1 to 25.
Example 17: Python program to check the validity of password input by users.
Example 18: Python program to convert the month name to a number of days."""

In [ ]:
natural= int(input())
for i in range(0,natural+1):
  print(i)

10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
n= int(input())
i=1
while n>i:
  print(i)
  i+=1

10
1
2
3
4
5
6
7
8
9

In [ ]:
natural= int(input())
for i in range(0,20):
  if i%2==0:
    print(i)

20
0
2
4
6
8
10
12
14
16
18

In [ ]:
n= int(input())
i=0
while n>i:
  if i%2==0:
    print(i)
  i+=1

10
0
2
4
6
8

In [ ]:
natural=int(input())
sum=0
for i in range(1,natural+1):
   sum=sum+i
print(sum)

10
55

In [ ]:
natural= int(input())
odd=0
for i in range(0,natural+1):
  if i%2!=0:
    odd+=i
    print(odd)

10
1
4
9
16
25

In [ ]:
a= int(input())
for i in range(1,a+1):
  print(a,"X",i,"=",a*i)

12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144

In [ ]:
#Example 6: Python program to display numbers from a list using a for loop.
a = [1,3,4,5,6,7,8,90]
for i in a:
  print(i)

1
3
4
5
6
7
8
90

In [ ]:
#Example 7: Python program to count the total number of digits in a number.

digit = 1234
digit = str(digit)
count =0
for i in digit:
  count =count+1
print(i)

4

In [ ]:
 """Polymorphism
Polymorphism lets us use the same method name for different classes, each having its own version of the method.
For example, if multiple animals have a sound() method, each animal makes a different sound."""
class Animal:
    def sound(self):
        return "Some sound"

class Dog(Animal):
    def sound(self):
        return "Bark"

class Cat(Animal):
    def sound(self):
        return "Meow"

animals = [Dog(), Cat(), Animal()]
for animal in animals:
    print(animal.sound())  # Outputs "Bark", "Meow", "Some sound"

In [ ]:
#Example 8: Python program to check if the given string is a palindrome.

num = int(input())
num= str(num)
if num[::-1]==num:
  print("palindrom")
else:
  print("not a palindrom")

12321
palindrom

In [ ]:
a = 12321
a=str(a)    #---> convert the digit to string when the digit is given
reverse =""
for i in a:
  reverse =i+reverse
if (reverse==a):
   print("yes")
else:
  print("no")

yes

In [ ]:
#Example 9: Python program that accepts a word from the user and reverses it.

word = input("enter the word:-")
reverse=""
for i in word:
  reverse =i+reverse
  #if reverse==word:
print(reverse)

enter the word:-balu
ulab

In [ ]:
#Example 10: Python program to check if a given number is an Armstrong number
num = 153
num=str(num)
str_length= len(num)
sum = 0
for i in num:
  sum+=int(i)**str_length
if sum ==int(num):
  print(f"{num} is amstrong")
else:
  print(f"{num} is not an amstrong")

153 is amstrong

In [ ]:
#Example 11: Python program to count the number of even and odd numbers from a series of numbers.
a=[1,2,3,4,5,6,7,8,9,10,11]
even=0
odd=0
for i in a:
  if i%2==0:
    even=even+1
  elif i%2!=0:
    odd+=1
print(even)

print(odd)

5
6

In [ ]:
#Example 12: #Example 12: Python program to display all numbers within a range except the prime numbers.
num = int(input())
count=0
for i in range(0,num+1):
  if i%2!=0:
    count+=1
    print(count)

10
1
2
3
4
5

In [ ]:
minimum = int(input(" Please Enter the Minimum Value: "))
maximum = int(input(" Please Enter the Maximum Value: "))

for Number in range (minimum, maximum + 1):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 Please Enter the Minimum Value: 2
 Please Enter the Maximum Value: 20
 2   3   4   6

In [ ]:
n= int(input())
count=0
while n>count:
  if count%2!=0:
    print(count)
  count+=1

10
1
3
5
7
9

In [ ]:
#Example 13: Python program to get the Fibonacci series between 0 to 50.
n= int(input("enter the number:-"))
first_number = 0
second_number = 1

for i in range(0,n+1):
  new_number=first_number+second_number
  first_number=second_number
  second_number=new_number
  print(new_number)

enter the number:-10
1
2
3
5
8
13
21
34
55
89
144

In [ ]:
#Example 14: Python program to find the factorial of a given number.

a = int(input("enter the number:-"))
factorial=1
for i in range (1,a+1):
  factorial=factorial*i
print(factorial)

enter the number:-3
6

In [ ]:
#Example 15: Python program that accepts a string and calculates the number of digits and letters.
a = input("enter the string:-")
words=0
digits=0
for i in a:
  if i.isdigit():
    digits=digits+1
  if i.isalpha():
    words=words+1
print(words)
print(digits)

enter the string:-cvbn23
4
2

In [ ]:
#Example 16: Write a Python program that iterates the integers from 1 to 25.
a = int(input())
for i in range(a+1):
  if i%4==0 and i%5==0:
    print("fizzbuzz")
    continue
  if i%4==0 and i%5 !=0:
    print("fizz")
    continue
  if i%5==0 and i%4 !=0:
    print("buzz")
  else:
    print(i)

25
fizzbuzz
1
2
3
fizz
buzz
6
7
fizz
9
buzz
11
fizz
13
14
buzz
fizz
17
18
19
fizzbuzz
21
22
23
fizz
buzz

In [ ]:
a= int(input("enter the number:"))
b=input("enter the number:")
if a==123 and b=="qwe":
  print("this is valid password")
else:
  print("invalid password")

enter the number:456
enter the number:rty
invalid password

#PANDAS

In [ ]:
import pandas as pd
cal={
    "cal":[10,20,30],
    "weight":[50,70,90],
}
var=pd.DataFrame(cal,index=["day1", "day2","day3"])

print(var.loc["day2"])

cal       20
weight    70
Name: day2, dtype: int64

#**SQL**

In [ ]:
df=pd.read_csv("data.csv")
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
df["adult"].fillna(130, inplace = True)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,10,Toy Story,False,7.7,5415.0
1,False,10,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",10,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",10,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,10,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",10,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",10,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28065,False,10,0,"[{'id': 18, 'name': 'Drama'}]",http://channel.nationalgeographic.com/channel/...,235093,tt2815030,en,Killing Kennedy,Drama documentary based on Bill O'Reilly's and...,...,2013-11-10,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,10,Killing Kennedy,False,5.5,34.0
28066,False,10,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",10,212836,tt3091242,en,Gente en sitios,This kaleidoscopic film weaves together approx...,...,2013-12-20,0.0,83.0,"[{'iso_639_1': 'es', 'name': 'Espaol'}]",Released,10,People in Places,False,5.0,2.0
28067,False,10,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 53, ...",10,166089,tt2378079,es,Alacrn enamorado,Julian (lex Gonzlez) and his friend Luis (Mi...,...,2013-04-12,0.0,100.0,"[{'iso_639_1': 'es', 'name': 'Espaol'}]",Released,10,Scorpion in Love,False,6.9,7.0
28068,False,10,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",10,29275,tt1458527,en,Anita,Anita is the story of a young woman with Down ...,...,2009-10-15,0.0,104.0,"[{'iso_639_1': 'zh', 'name': ''}, {'iso_639...",Released,10,Anita,False,6.1,5.0
28069,False,10,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",10,13351,tt0192578,en,Scooby-Doo in Arabian Nights,Scooby-Doo and Shaggy travel to Arabia to beco...,...,10,10.0,10.0,10,10,10,10,10,10.0,10.0

In [ ]:
x=df["budget"].mean()
df["budget"].fillna(x,inplace=True)

TypeError: Could not convert string '3000000065000000016000000060000000580000000350000005800000062000000004400000098000000520000001650000040000003000000060000000302500000500000000360000001200000001800000000295000000300000000110000000012000000001000000019000000180000002000000010000000330000005500000006000000015000000000000045000000200000000001500000000035000001900000050000000000150000002000000000440000000800000090000000038000000160000000816936304700000014000000050000000030000000007000000018000000120000002400000000007200000013000007500000350000000133650000002500000000400000000070000001700000000000500000000000000600000003100000000190000000040000000520000002800000001000000000020000001100000050000000250000005000000053000000070000002700000090000000005500000002000000002500000090000000015000005000000006000000150000000202200000001500008005000000004500000070000000350000000420000000140000000006000000000200000001750000008000000300000000028000000250000010000000021000000000270002500000055000000045000000000160000000001800000000001500000000000700000500000010500000120002500000060000000140000000600000000040000000110000001800000017000000010000000200000030000000000600000001700000004500000001500000000655000000031000000004800000003400000000050000000160000001100000008000000040000000003200000022000000150000000000000350000000450000005500000022000000250000000000320025000000038000000600000000006500000011000000300000001700000000300000001500000000500000006200000045000000001500000004600000055000000600000000450000000004500000035000000140000002300000000300000006000000115000008000000400000000450000003000000002700000011500000000630000000001000000000450007000000035000000000000000002600000008000000000034000000017080000003200000400000000500000000000013000000022000000013000000300000000070000000040000000000069000005700000008000000000000003000000042000000200000000440000003500000003000000000018000000330000002500000000250000000300000004000000004000000013000000003000000006300000090000001500000008500000000022000000001350000035000005500000000800000000250000000120000000200000004000000040000003000000026000000700000014000000000110000001150000040000000002200000020000000115000000800000120000000022000000000013000000250000002200000000002100000040000000280000000200000003004800000074000005000000000180000003000000025000000012500000027000000000000000000000200000000000000018000000220000002800000010000000022000000035000000190000001488423250000002600000140000000624408700000007000000093000004000000800000005000000400000000000000003000000000000335000000000120000000000004600000080000000000057000000000000038000000001300000014000000000000800000009000000000022000000000000250000000000000000275000030000000000031000000025530000009000000350000000004500000000150000000000025000000480000075000000040000009200000000000180000000000250000000180000000000000004500000050000000004500000000000000050400000010000007500000005500000010000000047000000270000001000000000540000000000000080000000300000005000000120000003200000003500000400000000023000000250000002000000003000000000000000000001300000026000000080000000000500000003600000060000001300000000150000000000060000005000000002962051450000002000000000600000009000005000000185000045000001700000001800000053000000000000006000000040000000080000000320000002500000000005000000000003000000025408002723903025000002479000100000032500020680005200004000000300000028838484000000878000375000170000002238813150000000277700040000000175200083972710500000014000001688000128800002000000150000002500000001365000000203300001020000040000006090000054000001226408060000003180000150000010730000000000000001140001300000100000030000000000400000000000025000000280000000006700000009000000023000000038000000450000000500000000000000000005000000140000000290000000300000004800000060000008120001000000020000000300000012000000300000082000002800000010000000000450000000160000000065000000500000000000240000045000000700000020000000014500000200000440000000000000001203000000002000000200000075000004000000001200000025000000140000006000000120000060000006500000490000003800000037055381250000012000000105000000060000000150000000150000018000000000000125000000000036000000000500000067880007000000010000006000000100000049409390004000000000500000000000000000000000000070000000000004000000009350000002700000006451801200000030000000045000003000000018000000160000001800000015000000185000001200000035000015000000220000020000003150000050000003235000025000000250000001100000011000000011500000080694827000000130000001700000009000000180000000300000001800000040000002700000001400000055000001200000700000006400000300000018000000001400000016400000300000082900003000000060000001200000380000025710001900000080000000360000040000001500000001460000014000000800000000112017519000000110000001200000008000000160000003000000028000003500000020000002280000730000005100000150000002500000004800000002200000017000000300000001200000014400000019000000060000001746964230000001600000000000000000500000001000000000015000000000500000000250000024000020000000040000000393750060000003500000001800000018000000028000002600000060000004200000000460000000100000060000000004000000025350003000000250000005400000000700000003500000027000000300000001200000018000000240000008000000013000000200000006000000132000001200000000350000000700000020000000205000000700000003000000500000006000000000023000000000120000000140000004000000000001300000005500000000005000000005500000000005500000000011600000000080000000000000016000000001700000000500000000250000000015000000300000003500000000008000000100000003000000280000001000000068000000350000000100000000450000000200000009000000032000000001000000035000000300000000450000000000016000000000000900000000165000003600000000000085000000900000000000002000000000000730000000000000750000000001600000005000000001250000000008500000000380000000090000080000000000009000000000280000009000000005000000020000000550000001500000060000000400000003000000190000000007500000050000000160000001800000030000000030000000000850000002000000030000000250000000350000000500000003500000070000000270000000050000000500000006000000019000000000001800000002500000350000000170000005700000016000000120000001500000000036000000000012000000003700000001000000001800000005000000024000000000400000001500000012000000010500000001100000006000000300000006000000000048000000600000005300000020000000700000001000000360000005000000000002000000080000000350000001000000000320000000035000000380000000002400000005000000020000000011000000000080000000600000000120000002800000030000000150000000025000000000019000000015000000270000000070000000800000003000000000250000004500000000003000000001000000280000000018000000750000000000500000001000000000600000000000000027000000200000000006500000006000000001000000001477731500000024000000000008000000006000000010000000550000008000000002500000000005000000900000002900000000670000100000000000127169530450000003500000000013000000000000007500000001300000007000000400000001300000003000000018500000500000000000060000000070000000100000000000180000000000900000000660000000710000004800000000015000001400000001400000000400000006000002300000060000200000037900012500000700000118028019500000016447361250000134400001250000210000020000007500000400000016500009100003430006000000100000039000002000000100000003600000180000010000008000000600000055000008000000310000002300000025000000750000015000002500000150000022500025000000100000030000005000000700000080000001100000055000012500004000000260000022000003000000280000050000003000002500000250000050000005000000100000000090000001300000013000000107000001900000010500000800000014000000015000000250000003500000011000000500000001900000095000000000926200004000000040000000500000000008580002000000140000004000000070000005400000012274016200000015000000100000007000000000002500000020000000013000000005000000000000001400000000028000000400000003200000000050000000000001600001500000001100000000001800000000144600000004000000004000000010000000015000000400000004000000200000003793100012000000025000000420000000600000019000000008000000049863200000001700000001700000000010100000010500000100000002800000040000000100000001000000005000000800000138000003000000026000000730000003000000072000000750000000180000000010000007000000150000009000000025000000650000000150000003000000050000000060000000200000005000000000111000320000027000000320000009000005000000045000000000000150000000150000020000003500000400000030000002135161120000025000001200000012000000130000002500003500000025000000033000000000042580001590000000110300000000000000000000000120000120000002500000002000000025000000000002000000002800000001000000000004200000000080000000000020000000400000000800000040000000380000000033000000020000000055000000140000000002500000000023000000150000008000000100000002000000012000000060000000017000000850000001100000094700011000000110000002200000016000000000002800000005000000025000000750000000300000001400000007500000002000000010000000350000020000000200000000120000000100000007000000023000000300000000650000003000000090000000000900000000040000000000900000003000000012000000002900000100000000130000012000010000002000000067200023000000100000005000000080000008045760179000000100000003000000025000000450000000000900000001500000035000003000000006000000000270000007000000070000000900000025000000005000000000440000001500000063000000250000001000000001750000070000001700000031000000420000001500000018000000000008000000113027000000650000000052000000150000009000000094500000000700000000012000000006000000000200000000000750000000370000002500000007000001500000000120000008500047000000600000000020000000018000000500000000013800000015000000025000000300000000000010000000073001500000900000006000000000035000000800000006500000003000000010000000060000004000000035000000120000000012000000001150000080000009000000002000001000000030000006000000014000000150000000900000058000003000000170000017000002500000650000070000001400000000800000002500000010500000135000000038000000021000000300000000130000000200000012000000007500000025000000120000000000455000008000000050000000014000000630000001600000007500000050000000250000600065000002500000010000000100000000020000000800000000120000000002900000001330000000150000000000660000002500000000000145300030000008000000470000008000000078667500011000000011791015000000115000000000019600000000055000000540000003900000017000000355000002910000000000012000000500000000200000004170000003000000004200000016000000040000000800000000000080000003300000000180000001500000006000000001400000090000001530000034200000012500000003100000021000000170000000002800000001100000021500000024000000600000650000002700000060000004000000300000003700000010000000800000007500000045000060000000680000007000000003200007500012000000200000011000000001884000025000000000150000000002000000024500000250000003000000160000000000000013000000070000000400000004800000043000000000055000000250000006500000000006400000035000025000020000000000068000000350000002200000001500000001800000000002300000045000000001300000045000000230000000007000000000000000400000000001600000007500000070000000000000700000007000000000290000001200000000000000060000003400000000150000001200000650000005000000017500000560000001200000900000000020000001100000000028000000500000000150000007000000000026000000080000002800000075000000170000000000015000000070000003000005000000000640000000200000000010000000006200000650000000600000060000000550000018000000075000000032000000100000000000689665001250000060000004000000054000000150000025000002000000950000450000020000030000001800000000170000004634557000006300000005000000000001000000005000000073620000019000000090000003200000002000000000000013000000350000007000000002800000032000000700000005500000019000000270000001300000020000000265000000015479051000000730000009000000000000020000000080000003500000900000250000025000000075000048310366000000050000000002270000015000000012000000150000000406000000000000020000000002300000010000000600000003000000000000001000000000025485000700000160000000000003000000000010000000013500000082722960000013300040000000000750000002800000000140000001500000023000000300000000075000000240000001800000000010000000090000000003800000031200000000023000000000047000000000000000019000000000017000000600000002400000000013000006500000750000001000000001330000000800000003700000014000000100000000000036000000005500000082000000450000004000000011000000500000002524000000000004000000000700000090000000024554001661530012000000000200000100000000000004500000150000000600000000002500000000009000000000000000000150000003600000000000034000000310000003800000011700000320000000310000002000000004000000045000000250000005500000060000000001000000007000000450000002200000000100000040000000160000006000000100000000000000040000000030000000000200000005200000640000026000000400000002300000041300000000090000001500000002500000000042000000350000000000600000020000000160000002500000060000000205364800000000000600000000120000000245000500000001500000650000090000000380000000002300000900000070000001800000777000037500000001900000000080000000000000000400000000001700000000018000000120000000080000000000018050001680000005200000023000000000000185000016000000002700000006500000100000001400000000500000300000020000009000000050000009272620600000013500000250000002100000042000008700000015000007000000001300000000400000025000000015000000008500000000250000105500000000250000020000000400000020000000000025000000065000002000000060000003000000095000000150000000046530000700000003000000000000230000020000000430000001300000000380000015000000003700000100000003100000024000000240000006000000000005000000500000002800000007000000600000001800000030000000120000000004300000070000003000000003800000000001400000600000098000000550000006500000600000014000000200000006200000060000002000000000003000000100000008300000015000000700000000250000004000000100000000000103000000340000000600000000003000000001600000044000000180000000030000002000000000000021112500600000000000250000001275000000160000000250000020000000012500000055000000003000009230001000000020000006500000014000000003400000070000000000003000000000480000000006000000000000780000800000000000250000000260000000001000040000000100000060000001500000130000000260000000400000065000009000000020000000000350000002700000022000000016000000400000200000012305523200000001700000017000000150000000700000000000090000000013000000000030000000150000500000004000000160000030000005500000003000000182105203000000025000000001600000046000000750000003000000000045000000510000001100000007600000012000000015000000000600000350000000016400000015000002410000000002500000068200000000002142000197800006500000019000000120000000500000082000006000000750000000001500000010000000030000000000003000000700000035000000350000000107200000003000000000008400000000650000004500000095000000650000000015000001000000006200006000000400000030000002500000650000350000003500000000300000000000000040000000100000000000330000001000000000120000002300000003100000300000000003500000004000000000280000000000002500000000024000000033000000850000060000000350000000000000250000000140000008000000128000000001000000030000000100000030000005000000000000158000051150000000328000001500000000000005500000636000001814462550000004500000100000000900000012000000300000024000000000750000010000000000305000000480000004000000000002200000065000000092000000800000008500000032000000800000000072000000820000003500000012300000003085000000013500000750000000170000003500000065000000750000002500000000004000000060000001500000014000000400000020000000100000001500000002500000013000000100000000670000000430000001000000009000000060000000100000004500000002600000000280000005700000008000000048000000080000000400000050000000100000000120000006500000000000030000000013000000100000035000000000000050000050000000110000003500000000000000000030000000200000001500000000002000000180000010000000214000000000000003500000030000003500000000000000000000055000000230000000108500000000600000022000000012000000000001400000000068000000087000000220000000035000000010000000400000000075000000620000000570000000001900000060000000100000000000000000000000000020000000300000004500000100000000300000000200000040000001500000000230000007000000310000000001500000007920000000001900000002900000012500006800000050000000090000000350000002500000002300000035000000110000002100000020000000060000000530000000160000000100000000250000001770000022000000000002115000000000002500000009400000050000000900000000980000000003111500027000000000017000000300000030000000001200000000040000000000002200000006500000000000530000006000000005250000001400000000000000220000000027000000000015000000200000000900000001400000000012000000057600002200000045000000080000000102000000000018000000650000240000000023000000000900001800000021000000062500000012000000011500000070000000380000001000000001600000013000000000005000000000023650000060000000250000004500000000000001800000000002686000027000000320000045000000140000000000000000000000004000000450000000000000100000010000001000000016000000130000013700000018000000680000000005000000000000000000075000004663000040000000004000000000002000000001900000080000000035124540020000000600000039000000002000000450000000050000002000000000060000000002000000002200000024000000009000000000002500000123000008000000000200000000200000000120000000800000029000000620000040000000350000000000700000000000016000000000040000000050000000150000000000031000000100000000050000001000000030000000000022500000005000001900000000000100000000000001600000000000003000000000001800020000000017000000150000000025000000700000024000000750000001100000075000003000000015000000120000008000000000009000000160000009300000001200000070000000100000000020000040000005000000000015000000000787000001900000018000000005000000000000055000000015000000005000000150000002000000070000006000000000001000000580000000750000000003500004200000037000000900000000000000200000000001500000000003000000075000000035000000030000007000000150000005700000048000000000022000000280000003400000000000001000000000100000000003500001900000004000000057000000060000000000070000000003000000032000000004000000022000000450000000000010000000000000000080000000000940000000072500029000000000030000000180000000500000003100000028000000000023000000120000002800000000450000030000000000001500000000000001000000750000001100000000150000000001000000000400000009000000000002500003500000072000000480000000000004800000000060000000180000000000750000001150000004900000010000035000000400000000000700000012500000006000000024000000920000004500000170000000001800000001400000000009000000020000000424000008100000002500006500000000000003500000000090000000550000000500000000001650000002200000040000000000085000000007500001012153000001000000016000000680000000002100000000000250000004500000150000000120000002500000038000000093000000720000006000000000000085000001500000000300000010700000092000000012000000198000002200000040000000000150000000000029000000380000000000022997992000001800000018000000120000000055000004000000003300000012000000000015000000140000000000350000000600000035000000320000001100000034400014500000005550006500000130000000014000000130000000500000018000075000000024000000001500000085000000005000000000019000000000015000001200000070000000360000002000000030000001700000000155800000000000008000000060000000350000000000000000350000000000000000100000017000000750000000000350000000045000000010000002300000000001202007140000008000000020000000000000000440000000000000012000003500000000100000000000030000000000000000059000000330000008500000001000000005000000000000000701400000000000000000000005400000012000000000000002600000055000000480000002000000003000000000006000000000004200000050000000000000250000045000000110000000430000007000000600000050000000400000010000000000000005000000060000000000001500000000110000004000000000001800000001200000000018000000001060000227826415000000900000007000000016000000139000000000000300000007500000014000000013000000500000000086000000000000027000000120000000150000000500003800000046000000800000000000000000680000002500000000000001000000010000000007000000027000000019340006000000084000000115000000000050000000000000005860000018000000001600

In [ ]:
def sum(*num):
  for i in num:
    num=num+i
    print(num)
sum(10,20,40)

TypeError: can only concatenate tuple (not "int") to tuple

# function practice

In [ ]:
# ===================================

In [ ]:
# Exercise 1: Create a function in Python
# Exercise 2: Create a function with variable length of arguments
# Exercise 3: Return multiple values from a function
# Exercise 4: Create a function with a default argument
# Exercise 5: Create an inner function to calculate the addition in the following way
# Exercise 6: Create a recursive function
# Exercise 7: Assign a different name to function and call it through the new name
# Exercise 8: Generate a Python list of all the even numbers between 4 to 30
# Exercise 9: Find the largest item from a given list

In [ ]:
def f1(a,b):
  sum=a*b
  return sum
print(f1(10,20))

200

In [ ]:
f1(10,20)

200

In [ ]:
def f1(a,b,c,d):
  list1=(a,b,c,d)
  list1=min(list1)
  return list1
print(f1(20,39,50,1))

1

In [ ]:

def var(*leng):
 for i in (leng):
  print(i,end=" ")
var(10,20,30)
var("a","s","d","f","g",end=)

10 20 30 a s d f g

In [ ]:
def var(**leng):
  return

In [ ]:
for i in range(6):
    print("*", end=" ")
    for j in range(4):
        if i == 2:  # Using '==' for comparison
            print("*", end=" ")
    print()  # Newline after each row

*
*
* * * * *
*
*
*

In [ ]:
def my_fun(**name):
  print(name)
my_fun(fname="ram", lname="rama")
my_fun(fname="rajo",lname="oka")

{'fname': 'ram', 'lname': 'rama'}
{'fname': 'rajo', 'lname': 'oka'}

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def num(numbers):
  sum=0
  for i in numbers:
    sum=sum+i
  return sum
print(num((5,7,8)))

20

In [ ]:
def mul(num):
  sum=1
  for i in num:
    sum=sum*i
  return sum
print(mul((8,7,9,5,2,4)))

20160

In [ ]:
def rev(str):
  rev=str[::-1]
  print(rev)
rev("lkjh68753")

35786hjkl

In [ ]:
import re

# Stage 1: Registration
def register():
    username = input("Enter a username (email): ")
    if not re.match(r"[a-zA-Z][a-zA-Z0-9]*@[a-zA-Z0-9]+\.[a-zA-Z0-9]+", username):
        print("Invalid username. Please follow the format: example@gmail.com")
        return

    password = input("Enter a password (5-16 characters, 1 special, 1 digit, 1 uppercase, 1 lowercase): ")
    if not re.match(r"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,16}$", password):
        print("Invalid password. Please follow the format: 1 special, 1 digit, 1 uppercase, 1 lowercase")
        return

    # Store data in a file
    with open("users.txt", "a") as f:
        f.write(f"{username}:{password}\n")
    print("Registration successful!")

# Stage 2: Login
def login():
    username = input("Enter your username: ")
    password = input("Enter your password: ")

    with open("users.txt", "r") as f:
        for line in f:
            stored_username, stored_password = line.strip().split(":")
            if username == stored_username:
                if password == stored_password:
                    print("Login successful!")
                    return
                else:
                    print("Incorrect password. Forgot password?")
                    forget_password(username)
                    return
        print("Username not found. Please register!")

# Stage 3: Forgot password
def forget_password(username):
    with open("users.txt", "r") as f:
        for line in f:
            stored_username, stored_password = line.strip().split(":")
            if username == stored_username:
                print(f"Your password is: {stored_password}")
                return
    print("Username not found. Please register!")

# Main program
while True:
    print("1. Register")
    print("2. Login")
    choice = input("Enter your choice: ")
    if choice == "1":
        register()
    elif choice == "2":
        login()
    else:
        print("Invalid choice. Please try again!")

1. Register
2. Login
Enter your choice: 2
Enter your username: balraju@gmail.com
Enter your password: Balraju@234
Login successful!
1. Register
2. Login
Enter your choice: 2
Enter your username: asdfg@gmail.com
Enter your password: Sdfg@134
Username not found. Please register!
1. Register
2. Login

KeyboardInterrupt: Interrupted by user

In [ ]:
# Stage 1: Registration
def register():
    username = input("Enter a username (email): ")
    if "@" not in username or "." not in username:
        print("Invalid username. Please follow the format: example@gmail.com")
        return

    parts = username.split("@")
    if len(parts) != 2:
        print("Invalid username. Please follow the format: example@gmail.com")
        return

    local_part, domain = parts
    if len(local_part) < 1 or len(domain) < 3:
        print("Invalid username. Please follow the format: example@gmail.com")
        return

    password = input("Enter a password (5-16 characters, 1 special, 1 digit, 1 uppercase, 1 lowercase): ")
    if len(password) < 5 or len(password) > 16:
        print("Invalid password. Please follow the format: 5-16 characters")
        return

    has_uppercase = False
    has_lowercase = False
    has_digit = False
    has_special = False
    for char in password:
        if char.isupper():
            has_uppercase = True
        elif char.islower():
            has_lowercase = True
        elif char.isdigit():
            has_digit = True
        elif not char.isalnum():
            has_special = True

    if not (has_uppercase and has_lowercase and has_digit and has_special):
        print("Invalid password. Please follow the format: 1 special, 1 digit, 1 uppercase, 1 lowercase")
        return

    # Store data in a file
    with open("users.txt", "a") as f:
        f.write(f"{username}:{password}\n")
    print("Registration successful!")

# Stage 2: Login
def login():
    username = input("Enter your username: ")
    password = input("Enter your password: ")

    with open("users.txt", "r") as f:
        for line in f:
            stored_username, stored_password = line.strip().split(":")
            if username == stored_username:
                if password == stored_password:
                    print("Login successful!")
                    return
                else:
                    print("Incorrect password. Forgot password?")
                    forget_password(username)
                    return
        print("Username not found. Please register!")

# Stage 3: Forgot password
def forget_password(username):
    with open("users.txt", "r") as f:
        for line in f:
            stored_username, stored_password = line.strip().split(":")
            if username == stored_username:
                print(f"Your password is: {stored_password}")
                return
    print("Username not found. Please register!")

# Main program
while True:
    print("1. Register")
    print("2. Login")
    choice = input("Enter your choice: ")
    if choice == "1":
        register()
    elif choice == "2":
        login()
    else:
        print("Invalid choice. Please try again!")

In [ ]:
import re
def register():
    username = input("Enter a username (email): ")
    if not re.match(r"[a-zA-Z][a-zA-Z0-9]*@[a-zA-Z]+\.[a-zA-Z]+", username):
        print("Invalid username. Please follow the format: example@gmail.com")
        return

    password = input("Enter a password (5-16 characters, 1 special, 1 digit, 1 uppercase, 1 lowercase): ")
    if not re.match(r"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,16}$", password):
        print("Invalid password. Please follow the format: 1 special, 1 digit, 1 uppercase, 1 lowercase")
        return
register()

Enter a username (email): balraju@gmail.com
Enter a password (5-16 characters, 1 special, 1 digit, 1 uppercase, 1 lowercase): Balraju@234

In [ ]:
Balr